@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('mesh-gradient.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
}

#header {
  width: 100%;
  /* max-width: 95%; */
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
  height: 20%;
}

.logo img {
  width: 80%;
}

.header-text {
  color: #fff;
  font-weight: bold;
  font-family: Times New Roman;
  font-size: medium;
  font-style: oblique;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.rule {
  max-width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.promo-rule {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(24, 151, 236), rgb(130, 250, 130));
  color: #fff;
  border: none;
  padding: 10px 20px;
}

.bold-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #f5f5f6;
  margin-top: 20px;
}

/* SPINNING WHEEL */

#wheel {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  /* margin-top: 100px; */
}

.sa {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid black;
  transition: all ease 5s;
  /* margin: 0 auto; */
  overflow: hidden;
}

span {
  width: 50%;
  height: 50%;
  position: absolute;
  display: inline-block;
}

.spa {
  clip-path: polygon(0 92%, 100% 52%, 0 8%);
  background-color: orange;
  top: 120px;
  left: 0;
}
.spb {
  clip-path: polygon(100% 92%, 0 52%, 100% 8%);
  background: linear-gradient(to right, rgb(24, 151, 236), rgb(130, 250, 130));
  top: 120px;
  right: 0;
}
.spc {
  clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  background-color: orangered;
  left: 120px;
  bottom: 0;
}
.spd {
  clip-path: polygon(50% 100%, 93% 0, 8% 0);
  background-color: white;
  top: 0;
  left: 120px;
}

.sa1 {
  height: 100%;
  width: 100%;
  transform: rotate(-136deg);
}

span b {
  width: 65px;
  height: 65px;
  line-height: 65px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wheel-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  border: none;
  text-align: center;
}

.wheel-btn:active {
  width: 90px;
  height: 90px;
  font-size: 20px;
  box-shadow: 0px 2px 4px 8px rgba(0, 0, 0, 0.4);
}

#spin:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 28px 20px;
  border-color: transparent transparent black transparent;
  top: -12px;
  left: 19px;
}

/* ============================ Media Queries ============================== */

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 640px) {
  body {
    display: inline-block;
  }

  #header {
    justify-content: space-between;
  }
  .rule {
    /* width: 10px;
    height: 10px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .promo-rule {
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 40px;
    text-align: center;
  }

  #wheel {
    text-align: center;
  }

  .wheel-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  body {
    display: inline-block;
  }

  .bold-heading h1 {
    font-size: 64px;
    color: rebeccapurple;
  }

  #wheel {
    text-align: center;
    margin-top: 4%;
  }

  .promo-rule {
    font-size: 15px;
  }

  .header-text {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  #wheel {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15%;
  }

  .header-text h2 {
    font-size: 26px;
  }

  .bold-heading h1 {
    font-size: 70px;
    text-align: center;
    color: yellow;
  }

  .promo-rule {
    padding: 15px 30px;
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  #wheel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bold-heading h1 {
    color: maroon;
  }
}

@media (min-width: 1536px) {
  body {
    display: inline-block;
  }

  #wheel {
    text-align: center;
  }

  .bold-heading h1 {
    color: burlywood;
  }
}
